*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
}
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at top right, #0a2442 0%, #0a1b2c 100%);
    padding-top: 50px;
}
.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
}
main {
    margin-top: 80px;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    background-color: #3A3A3F;
    width: 100%;
    height: 100%;
}
.footerImgCopy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}
.logoHeader img{
    width: 125px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.cabeca {
    position: fixed;
    width: 70%;
    background: #2f2f35;
    height: 30px;
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.cabeca .logoHeader {
    width: 20%;
}
.cabeca nav {
    width: 80%;
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
    align-items: center;
}
.cabeca nav ul {
    display: flex;
    gap: 1.5rem;
}
.cabeca nav ul li {
    font-size: 16px;
    list-style: none;
}
.cabeca nav ul li a {
    text-decoration: none;
    color: white;
}
.cabeca nav ul li a:hover {
    text-decoration: underline;
}