*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at top right, #0a2442 0%, #0a1b2c 100%);
    padding-top: 50px;
}
.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
}
main {
    margin-top: 80px;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    background-color: #3A3A3F;
    width: 100%;
    height: 100%;
}
.footerImgCopy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}
.logoHeader img{
    width: 125px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.cabeca {
    position: fixed;
    width: 70%;
    background: #2f2f35;
    height: 30px;
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.cabeca .logoHeader {
    width: 20%;
}
.cabeca nav {
    width: 80%;
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
    align-items: center;
}
.cabeca nav ul {
    display: flex;
    gap: 1.5rem;
}
.cabeca nav ul li {
    font-size: 16px;
    list-style: none;
}
.cabeca nav ul li a {
    text-decoration: none;
    color: white;
}
.cabeca nav ul li a:hover {
    text-decoration: underline;
}

#servicos, #projetos, #sobre {
    padding: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.tituloMeio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: radial-gradient( #0b459285, #006eff8c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
section {
    padding: 1.5rem;
}
/*Servicos*/
.boxesServicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
}
.boxServico {
    height: 350px;
    width: 800px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.4));
    padding: 1rem;
}
.boxServico .tituloServico {
    display: flex;
    justify-content: left;
    align-items: center;
}
.boxesTipo {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.boxTipo {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.800);
}
.boxTipo img {
    width: 200px;
}
.localBotao{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoServicos {
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #3A3A3F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/*Projetos*/
.containerProjetos{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.tipoProjetos {
    height: 300px;
    width: 80%;
    background-color: #3A3A3F71;
    border-radius: 5px;
}
.tituloProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.img_descricao {
    display: flex;
}
.imgProjetos{
    display: flex;
    justify-content: justify;
    align-items: center;
    padding: 1rem;
}
.imgProjetos img{
    width: 300px;
    border-radius: 10px;
    border: 2px solid white;
}
.descricaoProjetos {
    padding: 1rem;
}
.descricaoProjetos ul {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}
.descricaoProjetos ul li {
    list-style: none;
}
/*Sobre*/
#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxSobre { /*Igual a boxServico*/
    margin-top: 2rem;
    height: 500px;
    width: 885px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.4));
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.boxSobre h3, .boxSobre ul, .boxSobre2 h3, .boxSobre2 ul, .boxSobre2 .fraseSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.boxSobre ul li, .boxSobre2 ul li {
    list-style: none;
}

.containerBoxesSobre2 {
    display: flex;
    gap: 50px;
}
.boxSobre2 { /*Igual a boxServico*/
    margin-top: 5rem;
    margin-bottom: 2rem;
    height: 250px;
    width: 400px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.4));
    padding: 1rem;
}
/*Equipe*/
#equipe {
    display: grid;
    place-items: center; /*Deixa os itens no meio da tela*/
    align-items: center;
    /* Espaçamento entre os itens */
    gap: 10px;
    height: 700px;
    border-bottom: 1px solid white;
}
#equipe .funcionarioEquipe {
    width: 700px;
    height: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
}
#equipe .funcionarioEquipe .containerNome_Foto .nomeFuncionario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #000000;
}
#equipe .funcionarioEquipe .containerNome_Foto .imgEquipe img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}
#equipe .funcionarioEquipe .descricaoEquipe {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #000;
    gap: 1rem;
}
/*Contato*/
#contato {
    background-image: url(../imagens/backgroundLogo.png);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contato .tituloMeioClaro, #equipe .tituloMeioClaro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.formContato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 350px;
    width: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1rem;
}
#contato form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
#contato form input {
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 15px;
}
#contato form label{
    font-size: 14px;
    color: #000000;
    display: block;
}
#contato select{
    border-radius: 100px;
    height: 27px;
}
#contato form button{
    margin-top: 0.5rem;
    height: 35px;
    border-radius: 100px;
    border: none;
}
#contato select option{
    margin-left: 1px;
}