* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at top right, #0a2442 0%, #0a1b2c 100%);
    padding-top: 50px;
}
.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
}
main{
    margin-top: 80px;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    background-color: #3A3A3F;
    width: 100%;
    height:100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.footerImgCopy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}
.logoHeader img{
    width: 125px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.cabeca {
    position: fixed;
    width: 70%;
    background: #2f2f35;
    height: 30px;
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.cabeca .logoHeader {
    width: 20%;
}
.cabeca nav {
    width: 80%;
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
    align-items: center;
}
.cabeca nav ul {
    display: flex;
    gap: 1.5rem;
}
.cabeca nav ul li {
    font-size: 16px;
    list-style: none;
}
.cabeca nav ul li a {
    text-decoration: none;
    color: white;
}
.cabeca nav ul li a:hover {
    text-decoration: underline;
}
.titulo{
    font-family:Arial, Helvetica, sans-serif ;
    font-size:  35px;
    justify-content: left;
    background: radial-gradient( #ffffffbd, #006eff8c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sectionTitulo {
    min-width: 90%;
    display: flex;
    align-items: center ;
    min-height: 150px;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: radial-gradient(#000000b2, #00000085)
}
.titulotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: radial-gradient( #ffffffbd, #006eff8c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1rem;
}
.editatexto{
    font-size: 19px;
    max-width: 800px;          
    width: 90%;                 
}
.editatexto p{
    text-justify: inter-word;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.3px;      
    word-spacing: 1px;
    justify-content: left;
}
.parede{
    padding: 40px 20px;
    width: 60%;
    height: 50%;
    display: flex;
}
.parede .boxconteudoTec .editatexto {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.parede .boxconteudoTec .editatexto .quatroTec {
    display: flex;
    gap: 2rem;
}
.parede .boxconteudoTec .editatexto .quatroTec img {
    width: 75px;
}
.parede .boxconteudo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#contato {
    display: flex;
    background-color: #122133;
    justify-content: space-between;
}
#contato .parede {
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
    gap: 1.5rem;
}
#contato .parede .titulo{
    font-size: 35px;
}
#contato .parede .editatexto{
    font-size: 25px;
}
#contato .parede2 {
    display: flex;
    flex-direction: column;
    margin-right: 25rem;
}
.boxcontato{ /*Botão Orçamento*/
    border: 2px solid #122133;
    width: 190px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
}
.boxcontato:hover{
    background: radial-gradient( #0014acbd, #006eff8c);
    color: white;
}
.containerDev{
    display: flex;
}
#desenvolvimentoMobile, #desenvolvimentoWeb, #contato, #automacao, #explicacaoDesenvolvimento
{
    min-width: 90%;
    width: 100%;
    display: flex;
    align-items: center ;
    min-height: 500px;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}
#contato{
    background-image: url(../imagens/backgroundLogo.png);
}